/*
--malachite: #1bd96aff;
--british-racing-green: #134229ff;
--azure-web: #ecf9fbff;
--french-gray: #b0bac5ff;
--cadet-gray: #96a2b0ff;
--night: #101816
--black: #000000ff;
*/

@font-face {
    font-family: 'SMW';
    src: url('../fonts/SMW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('../fonts/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel NES';
    src: url('../fonts/Pixel_NES.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* general */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: SMW, Minecraftia, Archivo Narrow, arial, sans-serif;
    background: #134229ff url("../images/bg4.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2 {
    font-family: Pixel NES, Bebas Neue, Archivo Narrow, arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #ecf9fbff;
}

p {
    font-size: 20px;
}

li, td, th, label, p {
    font-family: SMW, Archivo Narrow, arial, sans-serif;
    color: #ecf9fbff;
    list-style-type: square;
}

.album-card a, .existing-products a {
    text-decoration: none;
    color: #ecf9fbff;
}

.header {
    width: 100%;
    background-color: #101816;
    /*background-color:brown;*/
    box-shadow: 0 5px 15px rgba(8, 255, 193, 0.25);
    position: sticky;
    top: 0;
}
.logo {
    width: 300px;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 5%;
}

.header nav ul {
    width: 100%;
    text-align: right;
}

.header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #b0bac5;
}

.header i {
    font-size: 40px;
    color: #000000ff;
    background-color: #1bd96aff;
    padding: 8px 8px;
    border-radius: 40%;
    margin-left: 20px;
    margin-right: 5px;

}

.header a:hover {
    color: #ecf9fbff;
}
.header i:hover {
    color: #ecf9fbff;
}

.logout {
    border: none;
    background: none;
    cursor: pointer;
}

.album-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album-card {
    width: 200px;
    text-align: center;
}

.album-card img {
    width: 200px;
    height: auto;
}

.album-grid a {
    color: #96a2b0ff;
    text-decoration: none;
}

.album-grid a:hover {
    color: #ecf9fbff;
    text-decoration: underline;
}

.section-box {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #ecf9fbff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-product form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    gap: 15px;
    margin-top: 10px;
}

.new-product .input-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.new-product label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #ecf9fbff;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.products-table th,
.products-table td {
    padding: 12px 15px;
    border: 1px solid #96a2b0ff;
    text-align: center;
}

.products-table th {
    background-color: #134229ff;
    color: #ecf9fbff;
    font-size: 22px;
    font-weight: bold;
}

.products-table img {
    border-radius: 4px;
}

.products-table a, .edit-products a {
    color: #96a2b0ff;
    text-decoration: none;
}
.products-table a:hover, .edit-products a:hover {
    color: #ecf9fbff;
    text-decoration: underline;
}

.edit-products form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    gap: 15px;
}

.footer {
    padding: 20px 80px;
    height: 40px;
    background-color: #101816;
    color: #ecf9fbff;
    text-align: center;
}