/*
--malachite: #1bd96aff;
--british-racing-green: #134229ff;
--azure-web: #ecf9fbff;
--french-gray: #b0bac5ff;
--cadet-gray: #96a2b0ff;
--night: #101816
--black: #000000ff;
*/

@font-face {
    font-family: 'SMW';
    src: url('../fonts/SMW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('../fonts/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel NES';
    src: url('../fonts/Pixel_NES.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* general */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: SMW, Minecraftia, Archivo Narrow, arial, sans-serif;
    background: #134229ff url("../images/bg4.jpg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2 {
    font-family: Pixel NES, Bebas Neue, Archivo Narrow, arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #ecf9fbff;
}

p, li {
    font-family: SMW, Archivo Narrow, arial, sans-serif;
    font-size: 20px;
    color: #ecf9fbff;
    list-style-type: square;
}


/* Section 1: Header */
.header {
    width: 100%;
    background-color: #101816;
    /*background-color:brown;*/
    box-shadow: 0 5px 15px rgba(8, 255, 193, 0.25);
    position: sticky;
    top: 0;
}
.logo {
    width: 300px;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 5%;
}

.header nav ul {
    width: 100%;
    text-align: right;
}

.header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #b0bac5;
}

.header i {
    font-size: 40px;
    color: #000000ff;
    background-color: #1bd96aff;
    padding: 8px 8px;
    border-radius: 40%;
    margin-left: 20px;
    margin-right: 5px;

}

.header a:hover {
    color: #ecf9fbff;
}
.header i:hover {
    color: #ecf9fbff;
}

.logout {
    border: none;
    background: none;
    cursor: pointer;
}

.album-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album-card {
    width: 200px;
    text-align: center;
}

.album-card img {
    width: 100%;
    height: auto;
}

/* Section 5: Footer */
.footer {
    padding: 20px 80px;
    height: 40px;
    background-color: #101816;
    color: #ecf9fbff;
    text-align: center;
}