/*
--malachite: #1bd96aff;
--british-racing-green: #134229ff;
--azure-web: #ecf9fbff;
--french-gray: #b0bac5ff;
--cadet-gray: #96a2b0ff;
--night: #101816
--black: #000000ff;
*/

@font-face {
    font-family: 'SMW';
    src: url('../fonts/SMW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('../fonts/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel NES';
    src: url('../fonts/Pixel_NES.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* general */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: SMW, Minecraftia, Archivo Narrow, arial, sans-serif;
    background: #134229ff url("../images/bg3.png") center;
    backdrop-filter: blur(2px);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
}

h1 {
    font-family: Pixel NES, Bebas Neue, Archivo Narrow, arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #ecf9fbff;
}

p {
    font-family: SMW, Archivo Narrow, arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #ecf9fbff;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #b0bac5;
}
a:hover {
    color: #ecf9fbff;
}

/* form */
.register-form {
    width: 400px;
    padding: 40px;
    background-color: #101816;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(8, 255, 193, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-form i {
    color: #000000ff;
    background-color: #1bd96aff;
    padding: 5px 5px;
    border-radius: 20%;
}