<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Marketplace</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Section 1: Header -->
    <section id="header" class="header">
        <nav>
            <a th:href="@{#}" title="Scroll to top of page"><img src="/images/logo.png" class="logo" alt="Segue Logo"></a>
            <ul>
                <li><a th:href="@{/admin/home}" title="Go to Home Page">Home</a></li>
                <li><a th:href="@{/admin/products}" title="Go to Products Page">Shop</a></li>
                <li><a th:href="@{/admin/orders}" title="Go to Orders Page">Orders</a></li>
            </ul>
            <a th:href="@{/admin/contacts}" title="View Cart" aria-label="View Cart"><i class='bx bx-cart' ></i></a>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout" title="Log Out" aria-label="Log Out">
                    <i class='bx bx-log-out'></i>
                </button>
            </form>
        </nav>
    </section>
    
    <!-- Sections 2-4 -->
    <main>
        <!-- Section 2: Welcome -->
        <section class="welcome" id="welcome">
            <h2>Welcome, admin!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis fuga eligendi laboriosam repellat accusantium sint rem, numquam modi recusandae sunt velit enim iste doloremque, rerum mollitia exercitationem! At, sed suscipit.</p>
        </section>
        <!-- Section 3: Catalogue -->
        <section class="catalogue" id="catalogue">
            <h2>Catalogue</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus officia, cum eveniet optio iste vero recusandae? Assumenda tenetur quidem debitis magnam, necessitatibus fugiat error ratione ipsa! Velit vel eum reprehenderit.</p>
        </section>
        <!-- Section 4: Contact -->
        <section class="contact" id="contact">
            <h2>Contact me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque exercitationem cum provident nisi sequi sapiente non dolore numquam. Voluptas, cum esse nobis nostrum dicta veniam delectus deserunt quis laudantium? Asperiores.</p>
        </section>
    </main>

    <!-- Section 5: Footer -->
    <footer class="footer">
        <p>&copy; 2025 Elvin Jiby</p>
    </footer>
</body>
</html>