<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
<!-- Section 1: Header -->
<section id="header" class="header">
    <nav>
        <a th:href="@{#}" title="Scroll to top of page"><img src="/images/logo.png" class="logo" alt="Segue Logo"></a>
        <ul>
            <li><a th:href="@{/admin/home}" title="Go to Home Page">Home</a></li>
            <li><a th:href="@{/admin/products}" title="Go to Products Page">Manage Products</a></li>
            <li><a th:href="@{/admin/orders}" title="Go to Orders Page">Manage Orders</a></li>
        </ul>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout" title="Log Out" aria-label="Log Out">
                <i class='bx bx-log-out'></i>
            </button>
        </form>
    </nav>
</section>

<main>
    <!-- Section 2: Edit Products -->
    <section class="edit-products section-box">
        <h2>Edit Album</h2>
        <form th:action="@{/admin/products/update/{id}(id=${product.id})}"
              th:object="${product}" method="post">
            <div class="input-field">
                <label>Name:</label>
                <input type="text" th:field="*{name}" readonly>
            </div>

            <div class="input-field">
                <label>Artist:</label>
                <input type="text" th:field="*{artist}" required>
            </div>

            <div class="input-field">
                <label>Price:</label>
                <input type="number" step="0.05" th:field="*{price}" required>
            </div>

            <div class="input-field">
                <label>Description:</label>
                <textarea th:field="*{description}" required></textarea>
            </div>

            <div class="input-field">
                <label>Album Cover URL:</label>
                <input type="text" th:field="*{albumCoverURL}">
            </div>

            <button type="submit" title="Save New Changes">Save Changes</button>
        </form>

        <br><br>
        <a th:href="@{/admin/products}" title="Discard Changes">Cancel</a>
    </section>
</main>

<!-- Section 3: Footer -->
<footer class="footer">
    <p>&copy; 2025 Elvin Jiby</p>
</footer>
</body>
</html>