<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Section 1: Navbar -->
    <section id="header" class="header">
        <a href="#" class="logo"><i class='bx bx-home' ></i></a>

        <div class="links">
            <ul id="navbar" class="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="cart"><a href="cart.html">
                    <i class='bx bx-cart' ></i></a></li>
                <li class="login"><a href="login.html" class="profile">
                    <i class='bx bx-user' ></i></a>
                </li>
            </ul>
        </div>
    </section>

    <h2>call 1-800-supamariobroz-wahoo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto officia blanditiis labore fugiat repellendus vero. Maiores, aut corrupti ipsam libero maxime odit facere hic architecto delectus. Minus quos unde aliquid?</p>

    <footer class="footer">
        <p>&copy; 2025 Elvin Jiby</p>
    </footer>
</body>
</html>