<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form id="login-form" class="login-form" th:action="@{/login}" method="post">
        <h1>Login</h1>

        <div th:if="${param.error}" class="error">
            <p th:text="${param.message != null ? param.message : 'Invalid username or password'}"></p>
        </div>
        <div th:if="${param.logout}" class="error">
            <p>You have been logged out.</p>
        </div>

        <div class="input-field">
            <i class='bx bxs-user'></i>
            <label for="username"></label><input type="text" name="username" id="username" placeholder="Username" required>
        </div>

        <div class="input-field">
            <i class='bx bxs-lock-alt' ></i>
            <label for="password"></label><input type="password" name="password" id="password" placeholder="Password" required>
        </div>

        <input type="submit" id="submit" class="submit" value="Log In">
        <div class="register">
            <p>Don't have an account? 
                <a th:href="@{/register}" title="Go to Register Page"><b>Register</b></a>
            </p>
        </div>
    </form>

    <script src="/scripts/auth.js"></script>
</body>
</html>