<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <form id="register-form" class="register-form" th:action="@{process_register}" th:object="${user}" method="post">
        <h1>Register</h1>

        <div th:if="${errorMessage}" class="error">
            <p th:text="${errorMessage}"></p>
        </div>
        <div th:if="${param.error}" class="error">
            Invalid username or password
        </div>

        <div class="input-field">
            <i class='bx bxs-user'></i>
            <label>
                <input type="text" th:field="*{username}" placeholder="Username" required>
            </label>
        </div>

        <div class="input-field">
            <i class='bx bxs-lock-alt' ></i>
            <label>
                <input type="password" th:field="*{password}" placeholder="Password" required>
            </label>
        </div>

        <input type="submit" id="submit" class="submit" value="Register">
        <div class="login">
            <p>Already have an account? 
                <a th:href="@{/login}" title="Go to Log In Page"><b>Log in</b></a>
            </p>
        </div>
    </form>
</body>
</html>